# Base de datos de metadatos de Airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow

# Repositorio analítico local (fallback/respaldo, no es el destino real - ver REMOTE_DWH_*)
DWH_DB_USER=dwh
DWH_DB_PASSWORD=dwh
DWH_DB_NAME=dwh

# Repositorio analítico real: servidor PostgreSQL remoto
REMOTE_DWH_HOST=15.204.173.204
REMOTE_DWH_PORT=6432
REMOTE_DWH_USER=
REMOTE_DWH_PASSWORD=
REMOTE_DWH_NAME=db_analytics_dm

# Usuario administrador de Airflow (UI en http://localhost:8080)
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin

# Librerías instaladas en el contenedor de Airflow al arrancar
AIRFLOW_PIP_ADDITIONAL_REQUIREMENTS="pandas==2.2.2 psycopg2-binary==2.9.9 openpyxl==3.1.2"
